{% extends "base_generic.html" %}

{% block content %}
  <h1>Nickname: {{ player.nickname }}</h1>

    <p><strong>Name:</strong> {{ player.name }}</p> <!-- author detail link not yet defined -->
    <p><strong>Country:</strong> {{ player.country }}</p>
    <p><strong>Birth:</strong> {{ player.birth }}</p>
    <p><strong>Race:</strong> {{ player.race }}</p>
    <p><strong>Team:</strong> <a href="{{ player.team.get_absolute_url }}">{{ player.team }}</a></p>

{% endblock %}

{% block sidebar %}
    {{ block.super }}
      <ul class="sidebar-nav">

          <li><a href="{% url 'player-update' player.id %}">Update player</a></li>
          <li><a href="{% url 'player-delete' player.id %}">Delete player</a></li>
      </ul>
{% endblock %}